/* styles.css (or styles.scss) */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add global styles */
/* Add this to your global styles or a CSS file imported into your project */

html {
  scroll-behavior: smooth; /* Enable smooth scrolling for the whole document */
}

/* You can add other global styles here */
.app-bg {
  background: linear-gradient(180deg, rgb(253, 192, 101), rgb(117, 70, 0));
}

.nav-bg {
  background: linear-gradient(180deg, rgb(253, 192, 101), rgb(117, 70, 0));
}

.footer-bg {
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255),
    rgb(253, 192, 101),
    rgb(177, 134, 65),
    transparent
  );
}

button {
  background: linear-gradient(
    180deg,
    rgb(253, 192, 101),
    rgb(117, 70, 0)
  ) !important;
}

button:hover {
  background: rgb(117, 70, 0) !important;
}
